.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 1rem;
  width: 230px;
  height: 250px;
  position: relative;
  animation: wine-appear 1s ease-out forwards;
  display: flex;
  flex-direction: column;
}

@keyframes wine-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img {
  width: 230px;
  height: 100%;
}

.imgDiv {
  object-fit: cover;
  height: 90%;
}

li {
  list-style: none;
}

.cardName {
  font-weight: bold;
  color: gray;
}

.linkStyle {
  text-decoration: none;
}
.categoriesContainer {
  width: 90%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}
