.background {
  background-color: #dadbe4;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  position: relative;
}

.btn {
  all: unset;
  font: 16px system-ui;
  color: rgb(44, 42, 42);
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img {
  position: absolute;
  right: 0.2rem;
  width: 35px;
}
